<div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Create Student</h4>
    <button type="button" class="btn-close" aria-label="Close" (click)="dismiss()"></button>
</div>
<form [formGroup]='studentForm' (submit)="onSave()">
    <div class="modal-body">
        <div class="row g-3">
            <div class="form-group required" [ngClass]="{'has-error': errors.firstName?.length}">
                <label for="firstName" class="form-label">First name</label>
                <input type="text" class="form-control" id="firstName" formControlName='firstName' required>
                <span class="form-text" *ngFor="let error of errors.firstName; let i = index">{{error}}</span>
            </div>

            <div class="form-group required" [ngClass]="{'has-error': errors.lastName?.length}">
                <label for="lastName" class="form-label">Last name</label>
                <input type="text" class="form-control" id="lastName" formControlName='lastName' required>
                <span class="form-text" *ngFor="let error of errors.lastName; let i = index">{{error}}</span>
            </div>

            <div class="form-group required" [ngClass]="{'has-error': errors.email?.length}">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" placeholder="you@example.com"
                    formControlName='email' required>
                <span class="form-text" *ngFor="let error of errors.email; let i = index">{{error}}</span>
            </div>

            <div class="form-group required" [ngClass]="{'has-error': errors.age?.length}">
                <label for="age" class="form-label">Age</label>
                <input type="number" class="form-control" id="age" formControlName='age' required>
                <span class="form-text" *ngFor="let error of errors.age; let i = index">{{error}}</span>
            </div>

            <div class="form-group required" [ngClass]="{'has-error': errors.phone?.length}">
                <label for="phone" class="form-label">Phone</label>
                <input type="number" class="form-control" id="phone" formControlName='phone' required>
                <span class="form-text" *ngFor="let error of errors.phone; let i = index">{{error}}</span>
            </div>

            <div class="form-group required" [ngClass]="{'has-error': errors.level?.length}">
                <label for="level" class="form-label">Level</label>
                <select class="form-select" id="level" formControlName='level' required>
                    <option value="">Choose Level...</option>
                    <option *ngFor="let level of levels" [value]="level.id">{{level.name}}</option>
                </select>
                <span class="form-text" *ngFor="let error of errors.levels; let i = index">{{error}}</span>
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-outline-dark">Create</button>
    </div>
</form>